
<carrousel-directive></carrousel-directive>
	
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<p><h1>¿Por qué hacer carreras populares?</h1><br>
				Hacemos deporte a la vez que contribuimos a una buena causa. Se convierten en una importante vía para poder recaudar fondos.</p>
				<p>Ambulancias, policías y voluntarios se ocupan de que todo esté en orden durante los eventos.</p>
				<p>Mejora el estado de ánimo y el humor. Son actividades que puedes realizar con la familia y amigos.</p>
			</div>
			<div class="col-sm-4">
			<h4>Piensa en tu objetivo, busca una carrera con antelación, planifica tus entrenamientos y ¡A entrenar!</h4>
			</div>
		</div>
	</div>
	
	<div class="container">
	<div class="row">
	<div class="col-sm-4 photos">
		<img class="photoPortada" src="./img/p.cycling2.jpg">
		<p>Porque hoy tienes la oportunidad de empezar, retomar, superarte, o quedarte en casa sin hacer nada. La decisión es tuya.</p>
	</div>
	<div class="col-sm-4 photos">
		<img class="photoPortada" src="./img/p.running.jpg">
		<p>Porque las zapatillas no están para decorar el armario.</p>
	</div>
	<div class="col-sm-4 photos">
		<img class="photoPortada" src="./img/p.swimming.jpg">
		<p>Porque aunque llegues último en una carrera, siempre tendrás por detrás a quienes nunca se atrevieron a correrla.</p>
	</div>

	</div>
	</div>
