<!-- 

<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>
aaaaa
<h1>{{point.web}}</h1>

{{point.name}} -->

<br>
<br>
<br>
<br>

<div style="background-color:#fff;"> <iframe src="http://www.runmap.net/es/route/1425504-65-kms-retiro/widget/?width=425&amp;height=350&amp;unit=metric" width="425" height="350" border="0" frameborder="0" marginheight="0" marginwidth="0" scrolling="no"> </iframe> <div style="margin: -4px 0 0 5px; height: 16px; color: #000; font-family: sans-serif; font-size: 12px;"> Route <a href="http://www.runmap.net/es/route/1425504-65-kms-retiro/" style="color:#2a88ac; text-decoration:underline;" target="_blank">1.425.504</a> - powered by <a href="http://www.runmap.net" style="color:#2a88ac; text-decoration:underline;" target="_blank">www.runmap.net</a> </div> </div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>